<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>

  <div class="nav-bar-title">
    <div class="nav-bar-title-items">
      <div>
        <h3 id="blog-title">THE BLOG</h3>
      </div>
      <div class="text-center d-flex">
        <p class="mr-2"><strong><u>POSTS</u></strong></p>
        <p class="ml-2">ABOUT US</p>
      </div>
    </div>
  </div>



  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
