<div class="form-container">
  <%= simple_form_for [current_user, post] do |f| %>
    <div class="input-label">
      <%= f.input :title %>
      <%= f.input :body %>
    </div>
    <div class="text-center input-tag">
      <%= f.input :tags, as: :radio_buttons, collection: Post::TAGS, wrapper: :vertical_collection_inline %>
      <label class="btn btn-dark btn-lg rounded-lg">
        Add a picture
        <span style="display:none;">
          <%= f.input :photo, as: :file %>
        </span>
      </label>
    </div>
    <div class="d-flex justify-content-center mt-5">
    <%= f.submit "Submit", class:"btn btn-lg btn-outline-dark rounded-lg" %>
    </div>
  <% end %>
</div>
